<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<link th:href="@{css/alltransactions.css}" rel="stylesheet"/>
<head>
<meta charset="UTF-8">
<title>TfWE</title>
</head>
<body>
	<header>
		<img class="logo" src="images/logo.jpg" alt="logo">

		<a class="cta" href="./logout"><button>Log out</button></a>
		
		<a href="./back"><button>Go back to main page</button></a>
	</header>
	<hr>
	<h1 th:text="'Logged in as '+${session.user.userName}+'!'"></h1>
	<h2 th:text="'Your balance is: ₹'+${session.user.cardBalance}"></h2>
	
	<h3>Here are your transactions: </h3>
	<hr>
	<section>
		<table border="1">
			<tr>
				<th>Swipe in time</th>
				<th>Swipe in station</th>
				<th>Swipe out time</th>
				<th>Swipe out station</th>
				<th>Fare cost</th>
			</tr>
			<tr th:each="transaction : ${transactions}">
				<td th:text="${transaction.swipeIn}"></td>
				<td th:text="${transaction.swipeInStationName}"></td>
				<td th:text="${transaction.swipeOut}"></td>
				<td th:text="${transaction.swipeOutStationName}"></td>
				<td th:text="${transaction.fareCost}"></td>
			</tr>
		</table>
	</section>
	<br><br>
</body>
</html>