<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Transport for Wiley Edge</h1>
<hr>
<h3 th:text="'Here are your transactions '+${session.user.userName}+'!'"></h3>
<hr>
	<table border="1">
		<tr>
			<th>Swipe in time</th>
			<th>Swipe in station</th>
			<th>Swipe out time</th>
			<th>Swipe out station</th>
			<th>Fare cost</th>
		</tr>
		<tr th:each="transaction : ${transactions}">
			<td th:text="${transaction.swipeIn}"></td>
			<td th:text="${transaction.swipeInStationName}"></td>
			<td th:text="${transaction.swipeOut}"></td>
			<td th:text="${transaction.swipeOutStationName}"></td>
			<td th:text="${transaction.fareCost}"></td>
		</tr>
	</table>
<br><br>
<a href="./back">Go Back to Home Page</a>
</body>
</html>