<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<link th:href="@{css/webpage.css}" rel="stylesheet"/>
<head>
<meta charset="ISO-8859-1">
<title>TfWE</title>
</head>
<body>
	<header>
		<img class="logo" src="images/logo.jpg" alt="logo">

		<a class="cta" href="./"><button>Return to Homepage</button></a>
	</header>
	
	<section>
		<form action="./login" method="post">
			<label>Enter email :<input type="text" name="userEmail"><br><br></label>
			<label>Enter Password : <input type="password" name="userPassword"><br><br></label>
			<label><input type="submit" value="Login"><br><br></label>
	
			<h2 th:text="${message}"></h2>
		</form>
	</section>
</body>
</html>