<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Transport for Wiley Edge</h1>
<hr>
<h3 th:text="'Please swipe out '+${session.user.userName}+'!'"></h3>
<h3 th:text="'Your balance is '+${session.user.cardBalance}"></h3>
<hr>
<form th:action="@{/swipedOut}" method="post">
	<select name="stationName">
    <option th:each="station : ${listStations}" th:text="${station.stationName}" th:value="${station.stationName}" ></option>
    </select>
	<input type="submit" value="Swipe Out">
</form>
<br><br>
<a href="./back">Go Back to Main Page</a>
<a href="./logout">Logout</a>
</body>
</html>