<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<link th:href="@{css/main.css}" rel="stylesheet"/>
<head>
<meta charset="UTF-8">
<title>TfWE</title>
</head>
<body>
	<header>
		<img class="logo" src="images/logo.jpg" alt="logo">

		<a class="cta" href="./logout"><button>Log out</button></a>
		
		<a href="./back"><button>Go back to main page</button></a>
	</header>
	
	<hr>
	<h1 th:text="'Logged in as '+${session.user.userName}+'!'"></h1>
	<h2 th:text="'Your balance is: ₹'+${session.user.cardBalance}"></h2>
	<hr>
	<br>
	
	<h3>Start your route:</h3>
	<form th:action="@{/swipedIn}" method="post">
		<select name="stationName">
    	<option th:each="station : ${listStations}" th:text="${station.stationName}" th:value="${station.stationName}" ></option>
    	</select>
		<input type="submit" value="Swipe In">
	</form>
	<br>

</body>
</html>